In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler,LabelEncoder
import pickle

In [10]:
df=pd.read_csv("Churn_Modelling.csv")

In [11]:
df

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [12]:
df=df.drop(["RowNumber","CustomerId","Surname"], axis=1)

In [13]:
LB=LabelEncoder()

In [14]:
df["Gender"]=LB.fit_transform(df["Gender"])

In [15]:
df.head(2)

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0

[2 rows x 11 columns]

In [16]:
df["Gender"].unique()

array([0, 1])

In [17]:
df["Gender"].value_counts()

Gender
1    5457
0    4543
Name: count, dtype: int64

In [22]:
one_hot=OneHotEncoder(sparse_output=False)

In [23]:
geo_encoder=one_hot.fit_transform(df[["Geography"]])

In [24]:
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [25]:
one_hot.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [26]:
df2=pd.DataFrame(geo_encoder, columns=one_hot.get_feature_names_out())

In [27]:
df2

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [28]:
df_final=pd.concat([df,df2],axis=1)

In [36]:
df_final=df_final.drop("Geography",axis=1)

In [37]:
df_final

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [38]:
X=df_final.drop("EstimatedSalary",axis=1)

In [40]:
Y=df_final["EstimatedSalary"]

In [41]:
Y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [43]:
SC=StandardScaler

In [47]:
from sklearn.preprocessing import StandardScaler

SC = StandardScaler()  # or any other scaler you are using
x_train_sc = SC.fit_transform(X_train)  # Ensure X_train is defined

In [48]:
x_test_sc=SC.transform(X_test)

In [50]:
with open('Scaler.pkl','wb') as file:
    pickle.dump(SC,file)

In [51]:
with open('Label_Encoder.pkl','wb') as file:
    pickle.dump(LB,file)

In [52]:
with open('One_hot_encoder.pkl','wb') as file:
    pickle.dump(one_hot,file)

In [53]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [60]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(x_train_sc.shape[1],)),  # Note the comma
    Dense(32, activation='relu'),
    Dense(1)
])

In [61]:
model.compile(optimizer='adam',loss='mean_absolute_error', metrics=['mae'])

WARNING:tensorflow:From c:\Users\umair\OneDrive\Desktop\Final DL\venvDL\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [63]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 64)                832

 dense_2 (Dense)             (None, 32)                2080

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [65]:
## Set up the Tensorboard
import datetime
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [66]:
early_stopping=EarlyStopping(monitor='val_loss',patience=15,restore_best_weights=True)

In [67]:
history_regression=model.fit(
    x_train_sc, y_train, epochs=120, batch_size=32, validation_data=(x_test_sc,y_test), callbacks=[tensorflow_callback,early_stopping]
)

Epoch 1/120
WARNING:tensorflow:From c:\Users\umair\OneDrive\Desktop\Final DL\venvDL\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\umair\OneDrive\Desktop\Final DL\venvDL\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 4ms/step - loss: 100373.3594 - mae: 100373.3594 - val_loss: 98496.3984 - val_mae: 98496.3984
Epoch 2/120
250/250 [==============================] - 1s 2ms/step - loss: 99536.6875 - mae: 99536.6875 - val_loss: 96788.0547 - val_mae: 96788.0547
Epoch 3/120
250/250 [==============================] - 1s 2ms/step - loss: 96575.3672 - mae: 96575.3672 - val_loss: 92427.6406 - val_mae: 92427.6406
Epoch 4/120
250/250 [==============================] - 1s 3ms/step - loss: 90802.6016 - mae: 90802.6016 - val_loss: 85286.8203 - val_mae: 85286.8203
Epoch 5/120
250/250 [==============================] - 1s 2ms/step - loss: 82538.1484 - mae: 82538.1484 - val_loss: 76304.2891 - val_mae: 76304.2891
Epoch 6/120
250/250 [==============================] - 1s 2ms/step - loss: 73090.5547 - mae: 73090.5547 - val_loss: 67325.0625 - val_mae: 67325.0625
Epoch 7/120
250/250 [==============================] - 1s 2ms/step - loss: 64396.2188 - mae: 64396.2188 - val_loss: 59979.1953 - val_mae: 59979.1953
Epoch 8/120
250/250 [==============================] - 1s 2ms/step - loss: 57895.3555 - mae: 57895.3555 - val_loss: 55070.2812 - val_mae: 55070.2812
Epoch 9/120
250/250 [==============================] - 1s 2ms/step - loss: 53921.7422 - mae: 53921.7422 - val_loss: 52460.9648 - val_mae: 52460.9648
Epoch 10/120
250/250 [==============================] - 1s 2ms/step - loss: 51915.7734 - mae: 51915.7734 - val_loss: 51239.6836 - val_mae: 51239.6836
Epoch 11/120
250/250 [==============================] - 1s 2ms/step - loss: 50956.5469 - mae: 50956.5469 - val_loss: 50770.5508 - val_mae: 50770.5508
Epoch 12/120
250/250 [==============================] - 1s 2ms/step - loss: 50520.7031 - mae: 50520.7031 - val_loss: 50584.3672 - val_mae: 50584.3672
Epoch 13/120
250/250 [==============================] - 1s 2ms/step - loss: 50291.6953 - mae: 50291.6953 - val_loss: 50505.0898 - val_mae: 50505.0898
Epoch 14/120
250/250 [==============================] - 1s 3ms/step - loss: 50167.5312 - mae: 50167.5312 - val_loss: 50449.1953 - val_mae: 50449.1953
Epoch 15/120
250/250 [==============================] - 1s 2ms/step - loss: 50088.9648 - mae: 50088.9648 - val_loss: 50419.4648 - val_mae: 50419.4648
Epoch 16/120
250/250 [==============================] - 1s 2ms/step - loss: 50034.3008 - mae: 50034.3008 - val_loss: 50383.6680 - val_mae: 50383.6680
Epoch 17/120
250/250 [==============================] - 1s 2ms/step - loss: 49991.4688 - mae: 49991.4688 - val_loss: 50365.0977 - val_mae: 50365.0977
Epoch 18/120
250/250 [==============================] - 1s 3ms/step - loss: 49954.8867 - mae: 49954.8867 - val_loss: 50345.7578 - val_mae: 50345.7578
Epoch 19/120
250/250 [==============================] - 1s 3ms/step - loss: 49920.2734 - mae: 49920.2734 - val_loss: 50326.1992 - val_mae: 50326.1992
Epoch 20/120
250/250 [==============================] - 1s 2ms/step - loss: 49891.0234 - mae: 49891.0234 - val_loss: 50316.8086 - val_mae: 50316.8086
Epoch 21/120
250/250 [==============================] - 0s 2ms/step - loss: 49864.6797 - mae: 49864.6797 - val_loss: 50292.7109 - val_mae: 50292.7109
Epoch 22/120
250/250 [==============================] - 1s 2ms/step - loss: 49838.4531 - mae: 49838.4531 - val_loss: 50281.1445 - val_mae: 50281.1445
Epoch 23/120
250/250 [==============================] - 1s 3ms/step - loss: 49816.3398 - mae: 49816.3398 - val_loss: 50277.8867 - val_mae: 50277.8867
Epoch 24/120
250/250 [==============================] - 1s 4ms/step - loss: 49796.6875 - mae: 49796.6875 - val_loss: 50261.0273 - val_mae: 50261.0273
Epoch 25/120
250/250 [==============================] - 1s 4ms/step - loss: 49774.1680 - mae: 49774.1680 - val_loss: 50263.0664 - val_mae: 50263.0664
Epoch 26/120
250/250 [==============================] - 1s 2ms/step - loss: 49762.1953 - mae: 49762.1953 - val_loss: 50259.8086 - val_mae: 50259.8086
Epoch 27/120
250/250 [==============================] - 1s 3ms/step - loss: 49740.0703 - mae: 49740.0703 - val_loss: 50252.9844 - val_mae: 50252.9844
Epoch 28/120
250/250 [==============================] - 3s 11ms/step - loss: 49722.7656 - mae: 49722.7656 - val_loss: 50252.2891 - val_mae: 50252.2891
Epoch 29/120
250/250 [==============================] - 2s 9ms/step - loss: 49705.9961 - mae: 49705.9961 - val_loss: 50241.8047 - val_mae: 50241.8047
Epoch 30/120
250/250 [==============================] - 2s 8ms/step - loss: 49693.6289 - mae: 49693.6289 - val_loss: 50245.5391 - val_mae: 50245.5391
Epoch 31/120
250/250 [==============================] - 2s 9ms/step - loss: 49677.3867 - mae: 49677.3867 - val_loss: 50245.2266 - val_mae: 50245.2266
Epoch 32/120
250/250 [==============================] - 2s 9ms/step - loss: 49664.5352 - mae: 49664.5352 - val_loss: 50238.4727 - val_mae: 50238.4727
Epoch 33/120
250/250 [==============================] - 1s 2ms/step - loss: 49649.4883 - mae: 49649.4883 - val_loss: 50233.2656 - val_mae: 50233.2656
Epoch 34/120
250/250 [==============================] - 1s 2ms/step - loss: 49640.5977 - mae: 49640.5977 - val_loss: 50235.0977 - val_mae: 50235.0977
Epoch 35/120
250/250 [==============================] - 1s 3ms/step - loss: 49627.8359 - mae: 49627.8359 - val_loss: 50227.4922 - val_mae: 50227.4922
Epoch 36/120
250/250 [==============================] - 1s 3ms/step - loss: 49618.4375 - mae: 49618.4375 - val_loss: 50225.0664 - val_mae: 50225.0664
Epoch 37/120
250/250 [==============================] - 0s 2ms/step - loss: 49606.2578 - mae: 49606.2578 - val_loss: 50221.5234 - val_mae: 50221.5234
Epoch 38/120
250/250 [==============================] - 0s 2ms/step - loss: 49595.4023 - mae: 49595.4023 - val_loss: 50225.0117 - val_mae: 50225.0117
Epoch 39/120
250/250 [==============================] - 1s 2ms/step - loss: 49586.6602 - mae: 49586.6602 - val_loss: 50204.1406 - val_mae: 50204.1406
Epoch 40/120
250/250 [==============================] - 1s 2ms/step - loss: 49574.0352 - mae: 49574.0352 - val_loss: 50219.9570 - val_mae: 50219.9570
Epoch 41/120
250/250 [==============================] - 1s 2ms/step - loss: 49564.4102 - mae: 49564.4102 - val_loss: 50202.9062 - val_mae: 50202.9062
Epoch 42/120
250/250 [==============================] - 1s 3ms/step - loss: 49557.6953 - mae: 49557.6953 - val_loss: 50216.6133 - val_mae: 50216.6133
Epoch 43/120
250/250 [==============================] - 1s 2ms/step - loss: 49545.0312 - mae: 49545.0312 - val_loss: 50208.5898 - val_mae: 50208.5898
Epoch 44/120
250/250 [==============================] - 1s 2ms/step - loss: 49536.5234 - mae: 49536.5234 - val_loss: 50205.6523 - val_mae: 50205.6523
Epoch 45/120
250/250 [==============================] - 1s 2ms/step - loss: 49528.0039 - mae: 49528.0039 - val_loss: 50215.3711 - val_mae: 50215.3711
Epoch 46/120
250/250 [==============================] - 1s 2ms/step - loss: 49518.6992 - mae: 49518.6992 - val_loss: 50208.7695 - val_mae: 50208.7695
Epoch 47/120
250/250 [==============================] - 1s 3ms/step - loss: 49510.7695 - mae: 49510.7695 - val_loss: 50196.3945 - val_mae: 50196.3945
Epoch 48/120
250/250 [==============================] - 1s 2ms/step - loss: 49506.7227 - mae: 49506.7227 - val_loss: 50195.1445 - val_mae: 50195.1445
Epoch 49/120
250/250 [==============================] - 1s 2ms/step - loss: 49495.9648 - mae: 49495.9648 - val_loss: 50209.7695 - val_mae: 50209.7695
Epoch 50/120
250/250 [==============================] - 1s 3ms/step - loss: 49488.3750 - mae: 49488.3750 - val_loss: 50204.6172 - val_mae: 50204.6172
Epoch 51/120
250/250 [==============================] - 1s 4ms/step - loss: 49481.1367 - mae: 49481.1367 - val_loss: 50201.4102 - val_mae: 50201.4102
Epoch 52/120
250/250 [==============================] - 1s 2ms/step - loss: 49474.3711 - mae: 49474.3711 - val_loss: 50203.0312 - val_mae: 50203.0312
Epoch 53/120
250/250 [==============================] - 2s 8ms/step - loss: 49465.2891 - mae: 49465.2891 - val_loss: 50207.1250 - val_mae: 50207.1250
Epoch 54/120
250/250 [==============================] - 2s 8ms/step - loss: 49459.5898 - mae: 49459.5898 - val_loss: 50207.9805 - val_mae: 50207.9805
Epoch 55/120
250/250 [==============================] - 2s 8ms/step - loss: 49454.2305 - mae: 49454.2305 - val_loss: 50194.5352 - val_mae: 50194.5352
Epoch 56/120
250/250 [==============================] - 2s 8ms/step - loss: 49444.3359 - mae: 49444.3359 - val_loss: 50203.2969 - val_mae: 50203.2969
Epoch 57/120
250/250 [==============================] - 3s 10ms/step - loss: 49439.4297 - mae: 49439.4297 - val_loss: 50213.9648 - val_mae: 50213.9648
Epoch 58/120
250/250 [==============================] - 2s 9ms/step - loss: 49433.2656 - mae: 49433.2656 - val_loss: 50214.7422 - val_mae: 50214.7422
Epoch 59/120
250/250 [==============================] - 2s 9ms/step - loss: 49427.4961 - mae: 49427.4961 - val_loss: 50220.4531 - val_mae: 50220.4531
Epoch 60/120
250/250 [==============================] - 2s 6ms/step - loss: 49421.8086 - mae: 49421.8086 - val_loss: 50211.4531 - val_mae: 50211.4531
Epoch 61/120
250/250 [==============================] - 2s 9ms/step - loss: 49415.9648 - mae: 49415.9648 - val_loss: 50218.1484 - val_mae: 50218.1484
Epoch 62/120
250/250 [==============================] - 2s 9ms/step - loss: 49412.1406 - mae: 49412.1406 - val_loss: 50214.3750 - val_mae: 50214.3750
Epoch 63/120
250/250 [==============================] - 2s 8ms/step - loss: 49404.7422 - mae: 49404.7422 - val_loss: 50210.6016 - val_mae: 50210.6016
Epoch 64/120
250/250 [==============================] - 3s 12ms/step - loss: 49399.1719 - mae: 49399.1719 - val_loss: 50218.4609 - val_mae: 50218.4609
Epoch 65/120
250/250 [==============================] - 2s 7ms/step - loss: 49394.1914 - mae: 49394.1914 - val_loss: 50217.6680 - val_mae: 50217.6680
Epoch 66/120
250/250 [==============================] - 2s 10ms/step - loss: 49388.0703 - mae: 49388.0703 - val_loss: 50223.0859 - val_mae: 50223.0859
Epoch 67/120
250/250 [==============================] - 2s 10ms/step - loss: 49384.8477 - mae: 49384.8477 - val_loss: 50225.9883 - val_mae: 50225.9883
Epoch 68/120
250/250 [==============================] - 2s 9ms/step - loss: 49377.3359 - mae: 49377.3359 - val_loss: 50227.4766 - val_mae: 50227.4766
Epoch 69/120
250/250 [==============================] - 2s 8ms/step - loss: 49374.5078 - mae: 49374.5078 - val_loss: 50235.5234 - val_mae: 50235.5234
Epoch 70/120
250/250 [==============================] - 2s 8ms/step - loss: 49369.9492 - mae: 49369.9492 - val_loss: 50236.9922 - val_mae: 50236.9922

In [72]:
pip install tensorboard

Requirement already satisfied: tensorboard in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (2.15.2)
Requirement already satisfied: absl-py>=0.4 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from tensorboard) (2.1.0)
Requirement already satisfied: grpcio>=1.48.2 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from tensorboard) (1.67.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from tensorboard) (2.36.0)
Requirement already satisfied: google-auth-oauthlib<2,>=0.5 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from tensorboard) (1.2.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from tensorboard) (3.6)
Requirement already satisfied: numpy>=1.12.0 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from tensorboard) (1.26.4)
Requirement already satisfied: protobuf!=4.24.0,>=3.19.6 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from tensorboard) (4.25.5)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from tensorboard) (2.32.3)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from tensorboard) (75.1.0)
Requirement already satisfied: six>1.9 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from tensorboard) (1.16.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from tensorboard) (0.7.0)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from tensorboard) (3.1.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard) (5.5.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard) (0.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from google-auth-oauthlib<2,>=0.5->tensorboard) (2.0.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from requests<3,>=2.21.0->tensorboard) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from requests<3,>=2.21.0->tensorboard) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from requests<3,>=2.21.0->tensorboard) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from requests<3,>=2.21.0->tensorboard) (2024.8.30)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from werkzeug>=1.0.1->tensorboard) (3.0.2)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard) (0.6.1)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\umair\onedrive\desktop\final dl\venvdl\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<2,>=0.5->tensorboard) (3.2.2)
Note: you may need to restart the kernel to use updated packages.

In [73]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [75]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6007 (pid 6764), started 0:00:27 ago. (Use '!kill 6764' to kill it.)

In [76]:
test_loss,test_mae=model.evaluate(x_test_sc,y_test)

63/63 [==============================] - 0s 1ms/step - loss: 50194.5352 - mae: 50194.5352

In [78]:
model.save('regression_model.h5')

c:\Users\umair\OneDrive\Desktop\Final DL\venvDL\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(